<%= render 'layouts/modals/modal_items_form' %>
<div class="row container">
<% if current_business && current_business.id == @business.id %>
  <div class="business-description">
    <h3><%= current_business.name %></h3>
    <div class="description-btn-wrapper">
      <%= link_to "Edit Info", edit_business_path(current_business.id), class:"wave-effect waves-light btn-blue btn" %>
    </div>
    <p>Address: <%= current_business.full_address %></p>
    <p>Phone: <%= current_business.phone_number %></p>
    <p>Email: <%= current_business.email %></p>
    <p>Description: <%= current_business.description %></p>
  </div>
  <a href="#item-modal" class="modal-trigger btn-green btn wave-effect waves-light"><i class="material-icons">add_circle_outline</i><span>Add Item</span></a>
  <div class="business-item-wrapper row">
  <% current_business.items.each do |item| %>
    <div class="business-item col l4">
      <% if item.image_file_name %>
      <div class="item_image">
        <%= image_tag item.image.url(:large), class:'items_image' %>
      </div>
      <% end %>
      <h5 class="item-name"><%= item.name.capitalize %></h5>
      <div class="item-btn-wrapper">
        <a href="/items/<%= item.id %>/edit" class="btn-floating wave-effect waves-light btn-blue tooltipped" data-position="top" data-delay="10" data-tooltip="Edit Item"><i class="material-icons">mode_edit</i></a>
        <a href="/items/<%= item.id %>" rel="nofollow" data-method="delete" class="btn-floating wave-effect waves-light btn-red tooltipped" data-position="top" data-delay="10" data-tooltip="Delete Item"><i class="material-icons">delete</i></a>
      </div>
      <p>Price: <%= number_to_currency(item.price) %></p>
      <p><%= item.description %></p>
      <% if item.item_address %>
      <p>Wallet: <%= item.item_address %></p>
      <% else %>
      <p class="no-wallet">This item does not have a wallet, add a wallet by clicking the item edit <i class="material-icons">mode_edit</i>  button.</p>
      <% end %>
    </div>
  <% end %>
  </div>
<% else %>
  <div class="business-description">
    <h3><%= @business.name %></h3>
    <p>Address: <%= @business.full_address %></p>
    <p>Phone: <%= @business.phone_number %></p>
    <p>Description: <%= @business.description %></p>
  </div>
  <div class="business-item-wrapper row">
  <% @business.items.each do |item| %>
    <div class="business-item col m4">
      <% if item.image_file_name %>
      <div class="item_image">
        <%= image_tag item.image.url(:large), class:'items_image' %>
      </div>
      <% end %>
      <h5><%= item.name.capitalize %></h5>
      <p><%= item.description %></p>
      <p>Price: <%= number_to_currency(item.price) %></p>
    </div>
  <% end %>
<% end %>
</div>
