<%= render 'layouts/modal_signup' %>
<%= render 'layouts/modal_login' %>
<!-- Page Contents -->
<div class="landing-page-wrapper">
  <%= render "static_pages/partials/cta" %>
  <%= render "static_pages/partials/promo" %>
  <%= render "static_pages/partials/contact" %>
</div>
