<h1><%= current_business.name %> Wallet</h1>
<hr>
<% current_business.wallets.each do |wallet| %>
<p>
  Name: <%= wallet.name %>
</p>
<p>
  <div id="public_adress">
    Wallet address: <%= wallet.wallet_address %>
  </div>
</p>
<p>
  <div class="private_key" value='<%= wallet.private_key%>'>
    key: <%= wallet.private_key%>
</div>
</p>
<!-- <input id="text" type="text" value='<%= wallet.private_key%>' style="width:80%" /><br /> -->
<div id="qrcode"></div>

<p>
<%#=  link_to "Remove Wallet", wallet_path, method: :delete %>
<%= link_to 'Delete', wallet,
  method: :delete,
  data: { confirm: 'Are you sure?' } %></td>
  </td>

</p>
<hr>
<% end %>
<%= link_to "Add existing", new_wallet_path %>
<%= link_to 'Make a new wallet', generate_key_path, method: :generate %>
