<h1><%= current_business.name %> Wallet</h1>
<hr>
<% current_business.wallets.each do |wallet| %>
<p>
  Name: <%= wallet.name %>
</p>
<p>
  Wallet address: <%= wallet.wallet_address %>
</p>
<p>
  key: <%= wallet.private_key%>
</p>

<p>
<%#=  link_to "Remove Wallet", wallet_path, method: :delete %>
<%= link_to 'Delete', wallet,
  method: :delete,
  data: { confirm: 'Are you sure?' } %></td>
  </td>

</p>
<hr>
<% end %>
<%= link_to "Add existing", new_wallet_path %>
<%= link_to 'Make a new wallet', generate_key_path, method: :generate %>
