<h1><%= current_business.name %> Wallet</h1>
<hr>
<% current_business.wallets.each do |wallet| %>
<p>
  Name: <%= wallet.name %>
</p>
<p>
  Wallet address: <%= wallet.wallet_address %>
</p>
<p>
<%=  link_to "Remove Wallet", wallets_path, method: :delete %>
</p>
<hr>
<% end %>
<%= link_to "add wallet", new_wallet_path %>
<%= link_to 'new wallet', generate_key_path, method: :generate %>
