<%= bootstrap_form_for @business do |f| %>
<div class="ui form">
  <%= f.text_field :name, placeholder: 'Business Name', label: 'Business Name' %>
  <%= f.text_field :email, placeholder: 'email@example.com' %>
  <%= f.text_field :address, placeholder: 'Adress' %>
  <%= f.text_field :city, placeholder: 'City' %>
  <%= f.select(:state, options_for_select(us_states, "CA"))%>
  <%= f.text_field :zipcode , placeholder: '5 digit zipcode' %>
  <%= f.text_area :description,  cols: 40, rows: 4, placeholder: 'A brief description of your business'  %>
  <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: false %>
  <%= f.telephone_field :phone_number, :maxlength => 10, :size => 15, placeholder: '(555)-523-5678' %>
  <%= f.password_field :password, placeholder: 'password'  %>
  <%= f.password_field :password_confirmation, placeholder: 'password confirmation'   %>

      	<%=  f.submit "list Business", class:'ui standard black button huge'%>
  </div>
<% end %>
