<%= bootstrap_form_for @item do |f| %>
<div class="ui form">
  <%= f.text_field :name, placeholder: 'Item Name' %>
  <%= f.text_field :price , placeholder: 'Price' %>
  <%= f.text_area :description,  cols: 40, rows: 4, placeholder: 'A brief description of the item'  %>
  <%#= f.select(:description, options_for_select(wallets.each { |w| w.wallet_address })) %>
  <% wallets.each do |w| %>
  <%= f.label w.wallet_address %>
  <%= f.radio_button :item_address, w.wallet_address %>


<% end %>

<!-- <div class="fallback">
 <%= f.file_field :image %><br>

</div> -->


    <%#= f.file_field :image %>



    <%= f.label :image, "Upload items:" %>
  <%= f.file_field :image, multiple: true, name: "item[image]", as: :file %>


  <%= f.submit "Add Item", class: 'ui standard blue button huge'%>
<% end %>


<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
