<%= bootstrap_form_for @item do |f| %>
<div class="ui form">
  <%= f.text_field :name, placeholder: 'Item Name' %>
  <%= f.text_field :price , placeholder: 'Price' %>
  <%= f.text_area :description,  cols: 40, rows: 4, placeholder: 'A brief description of the item'  %>

      <%= f.submit "Add Item", class: 'ui standard black button'%>
</div>
<% end %>
