<div class="ui inverted vertical masthead center aligned segment">

  <div class="container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <%= link_to "QwikBit", root_path, class: 'item' %>
      <%= link_to "Qwickbit Locations", locations_path, class: 'item' %>
      <% if current_business %>
      <%= link_to current_business.name, business_path(current_business.id), class: 'item' %>
      <%= link_to "Wallets", wallets_path, class: 'item' %>
      <%= link_to "Add Items", new_item_path, class: 'item' %>
      <div class="right item">
      <%= link_to "Log out", logout_path, method: :delete, class: 'item, ui inverted button' %>
      </div>
      <% else %>
      <div class="right item">
        <%#= link_to "Sign up", new_business_path, class: 'item, ui inverted button' %>
        <button class='item ui inverted button', id="signupbtnm">Sign up</button>
        <!-- <button class="item ui inverted button rbtn" id="loginbtn">Sign Up</button> -->
        <!-- &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp -->
        <%#= link_to "Log in", login_path, class: 'item, ui inverted button rbtn' %>
        <button class="item ui inverted button" id="loginbtn">Log In</button>
      </div>
      <% end %>
    </div>
  </div>

</div>
